<div class="shop-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">管理者用登録画面</h1>
        <%= form_for @shop do |f| %>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image%>
          </div>
          <div class="form-group">
            <%= f.label :address %>
            <%= f.text_area :address, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :latitude %>
            <%= f.text_area :latitude, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :longitude %>
            <%= f.text_area :longitude, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_area :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :kind_id %>
            <%= f.text_area :kind_id, class: 'form-control' %>
          </div>
          <% if logged_in? %>
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>